# 以'#' 开始的行，被视为注释.
# 忽略目录
ServerDemo/Debug
ServerDemo/Common/Debug
ServerDemo/ServerDemo/Debug
ServerDemo/testProtobuf/Debug
ServerDemo/Release
ServerDemo/Common/Release
ServerDemo/ServerDemo/Release
ServerDemo/testProtobuf/Release

ServerDemo/ipch

wowboss/wowboss_Data
wowboss/*.apk
wowboss/*.exe
wowboss/*.csproj
wowboss/*.sln
wowboss/*.userprefs
wowboss/Library

# 忽略vs2010文件
*.sdf
*.suo
*.opensdf